@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

:root {
  --primary: #973610;
  --primary-light: #E8D8CF;

  --secondary: #7e6210;
  --secondary-light: #D1FAE5;

  --accent: #FFF8F6;

  --neutral: #524d4d;
}

@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}